# Based on 'splunk enable boot-start'
[Unit]
Description=Systemd service for Splunk
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
# Run chown as root
ExecStartPre=+chown -R splunkfwd:splunkfwd "/opt/splunkforwarder"
# https://docs.splunk.com/Documentation/Splunk/latest/Installation/UpgradeonUNIX#Upgrade_and_accept_the_license_agreement_simultaneously
ExecStart=/opt/splunkforwarder/bin/splunk _internal_launch_under_systemd --accept-license --answer-yes
# https://www.freedesktop.org/software/systemd/man/systemd.service.html#id-1.9.8
ExecStartPost=+-chown -R splunkfwd:splunkfwd "/sys/fs/cgroup/system.slice/%n"
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=360
LimitNOFILE=65536
LimitRTPRIO=99
SuccessExitStatus=51 52
RestartPreventExitStatus=51
RestartForceExitStatus=52
User=splunkfwd
Group=splunkfwd
Delegate=true
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# https://fedoraproject.org/wiki/Changes/SystemdSecurityHardening#Detailed_Description
ReadWritePaths=/opt/splunkforwarder
PrivateTmp=true
ProtectSystem=strict
PrivateDevices=true
ProtectHome=read-only
ProtectClock=yes
ProtectHostname=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
NoNewPrivileges=true
DevicePolicy=closed
KeyringMode=private
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateUsers=yes
RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
# requires network access
# PrivateNetwork=no
# required by Splunk_TA_nix especially "ps"
# ProtectProc=default

[Install]
WantedBy=multi-user.target
