# Based on 'splunk enable boot-start'
[Unit]
Description=Splunk service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
# Run chown as root
ExecStartPre=+chown -R splunkfwd:splunkfwd "/opt/splunkforwarder"
# https://docs.splunk.com/Documentation/Splunk/latest/Installation/UpgradeonUNIX#Upgrade_and_accept_the_license_agreement_simultaneously
ExecStart=/opt/splunkforwarder/bin/splunk _internal_launch_under_systemd --accept-license --answer-yes
# https://www.freedesktop.org/software/systemd/man/systemd.service.html#id-1.9.8
ExecStartPost=+-chown -R splunkfwd:splunkfwd "/sys/fs/cgroup/system.slice/%n"
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=360
LimitNOFILE=65536
LimitRTPRIO=99
SuccessExitStatus=51 52
RestartPreventExitStatus=51
RestartForceExitStatus=52
User=splunkfwd
Group=splunkfwd
Delegate=true
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# https://fedoraproject.org/wiki/Changes/SystemdSecurityHardening#Detailed_Description
ReadWritePaths=/opt/splunkforwarder
PrivateTmp=true
ProtectSystem=strict
PrivateDevices=true
ProtectHome=read-only
ProtectClock=yes
ProtectHostname=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
NoNewPrivileges=true
DevicePolicy=closed
KeyringMode=private
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateUsers=yes
RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
PrivateMounts=yes
ProcSubset=pid
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallErrorNumber=EPERM
# the sets in older systemd (e.g. v252) have incomplete list of system calls, so allow-list does not work
# https://github.com/systemd/systemd/blob/main/src/shared/seccomp-util.c
SystemCallFilter=~@aio @clock @cpu-emulation @debug @keyring @memlock @module @mount @obsolete @pkey @raw-io @reboot @resources @sandbox @setuid @swap @sync @timer
# SystemCallFilter=@basic-io @chown @file-system @io-event @ipc @network-io @privileged @process @signal @system-service
# requires network access
# PrivateNetwork=no
# required by Splunk_TA_nix especially "ps"
# ProtectProc=default

[Install]
WantedBy=multi-user.target
